@model List<CMSProject.Common.Dtos.PostDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



<div class="container">
    
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            @foreach (var item in ViewBag.Slider)
            {
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
               
            }
            
        </ol>
        <div class="carousel-inner" role="listbox">
           
            @{int i = 0;}

            @foreach (var item in ViewBag.Slider)
            {
            <div class="item @(i==0 ? "active" :"")">
                <a href="/User/PostDetailPage/@item.PostId/"> <img src="@item.Image" style="width:100%; height:80%" alt="Haber" class="img-responsive" /></a>
                <div class="carousel-caption" role="option">
                    <p>
                        @item.Desc
                    </p>
                </div>
            </div>

                {
                    i++;
                }

            }

            

        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>





    <div class="row" style="margin-top:4%">
        @foreach (var item in Model)
        {

            <div class="col-md-4" style="background-color:white; margin-bottom:10px; border:solid 3px; border-color:#364150 ">
                <div class="blog-single-content bordered blog-container">
                    <div class="blog-single-head">
                        <h3 class="blog-single-head-title"><strong>@item.PostTitle</strong></h3>

                    </div>
                    <div class="blog-single-img">
                        <a href="/User/PostDetailPage/@item.PostId/"> <img src="\@item.PostPhoto" style="width:100%; height:40%"></a>
                    </div>
                    <div class="blog-single-desc">
                        <p>
                            @item.PostDesc
                        </p>


                    </div>


                </div>
            </div>

        }

    </div>


</div>






